# LaTeX
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.pdf

# Python
__pycache__/
*.py[cod]

# OS
.DS_Store

# Project
models/
models_lung/
models_infection/
results/
plots/
*.pth
*.pt
